<main>
  <div class="module">
    <form [formGroup]="post" (ngSubmit)="gettingPostsInfor()">
      <div class="formc margTitle">
        <div>
          <label for="title">title</label>
          <input type="text" id="title" formControlName="title" />
        </div>
      </div>
      <div class="formc">
        <div>
          <label for="image">image</label>
          <input type="text" id="image" formControlName="image" />
        </div>
      </div>
      <div class="formc content">
        <div>
          <label for="content">content</label>
          <textarea
            name="textarea"
            id="content"
            cols="30"
            rows="10"
            formControlName="content"
          ></textarea>
        </div>
      </div>
      <div class="buttons">
        <ng-content></ng-content>
        <button type="submit" class="btn">Accept</button>
      </div>
    </form>
  </div>
</main>
